---
- name: Docker Build and Push
  hosts: local
  connection: local 
  gather_facts: no

  tasks:
    - name: Build Docker Image
      # usage of command module to avoid python dependency issues
      command: docker build -t {{ image_name }} .
      args:
        # We use the {{ workspace }} variable so it works even if you rename the job
        chdir: "{{ workspace }}"

    - name: Log in to Docker Hub
      # We use shell here to safely pass the password variable
      shell: "docker login -u {{ docker_user }} -p {{ docker_pass }}"

    - name: Push image
      command: docker push {{ image_name }}

    - name: Run container (Test)
      shell: |
        docker rm -f pet1 || true
        docker run -d --name pet1 -p 8081:8080 {{ image_name }}
