---
- name: Docker Build and Push
  hosts: local
  connection: local 
  gather_facts: no

  tasks:
    - name: Build Docker Image
      command: docker build -t {{ image_name }} .
      args:
        chdir: "{{ workspace }}"

    - name: Log in to Docker Hub
      # Login securely using the password variable from Jenkins
      shell: "docker login -u {{ docker_user }} -p {{ docker_pass }}"

    - name: Push image
      command: docker push {{ image_name }}

    - name: Run container (Test)
      shell: |
        docker rm -f pet1 || true
        docker run -d --name pet1 -p 8081:8080 {{ image_name }}
